/* General =================================================================== */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  /* 10% vänster och höger marginal, samtidigt som du tar hänsyn till de yttre marginalerna på 20px */
  margin: 20px calc(10% - 20px);
  text-align: center;
}

nav,
section,
footer,
.hero100vh {
  border: red 2px solid;
}

section,
footer,
.hero100vh {
  margin: 20px 0px 20px 0;
}

.hero100vh {
  min-height: 100vh;
}

/* Nav ====================================================================== */

nav {
  height: 80px;
  /* Sätt line-height samma som höjden för att centrera texten vertikalt */
  line-height: 80px;
  text-align: left;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
}

/* Hero ===================================================================== */
.hero {
  background-color: #ddd;
}

.hero-text {
  font-size: 60px;
  min-height: 100vh;
  line-height: 100vh;
}

/* Article ================================================================== */
article:nth-child(even) {
  background-color: #ddd;
}

article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}

article img {
  max-width: 100%;
  height: auto;
}

article p {
  margin-left: 20px;
}

/* Footer ====================================================================== */
footer {
  text-align: center;
  padding: 10px;
  background-color: #ddd;
  margin-top: 20px;
}
