/* General =================================================================== */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  /* margin: Detta är en CSS-egenskap som används för att ange utrymmet runt ett element. 
   Marginalen är det tomma utrymmet utanför det faktiska innehållet i elementet. */

  /* 20px: Detta sätter en fast marginal på 20 pixlar runt alla sidor av elementet. 
   Det betyder att det kommer att finnas 20 pixlar av tomt utrymme mellan elementet 
   och dess omgivning. */

  /* calc(10% - 20px): Detta är en mer avancerad del av koden. 
   calc() är en funktion som tillåter beräkningar inom CSS. 
   Här används den för att beräkna en procentuell bredd baserat på förälderens 
   bredd och sedan subtrahera 20 pixlar från den. 
   Detta resulterar i en variabel marginalstorlek som är 10% av förälderens 
   bredd minus 20 pixlar. */
  margin: 20px calc(10% - 20px);
  text-align: center;
}

nav,
section,
footer,
.hero100vh {
  border: red 2px solid;
}

section,
footer,
.hero100vh {
  margin: 20px 0px 20px 0;
}

.hero100vh {
  min-height: 100vh;
}

/* Nav ====================================================================== */

nav {
  height: 80px;
  /* Sätt line-height samma som höjden för att centrera texten vertikalt */
  line-height: 80px;
  text-align: left;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
}

/* Hero ===================================================================== */
.hero {
  background-color: #ddd;
}

.hero-text {
  font-size: 60px;
  min-height: 100vh;
  line-height: 100vh;
}

/* Article ================================================================== */
article:nth-child(even) {
  background-color: #ddd;
}

article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}

article img {
  max-width: 100%;
  height: 250px;
}

article p {
  margin-left: 20px;
}

/* Footer ====================================================================== */
footer {
  text-align: center;
  padding: 10px;
  background-color: #ddd;
  margin-top: 20px;
}
